<div class="row">
    <div class="large-9 columns">
 
      <h3>We'd love to hear from you!</h3>
      <p>Drop us a line or shoot over an email. You can even contact a team member with a specific question. We're excited to hear about your project!</p>
    <h5 class="title" style="left: 199px;"><a href="#panel2">The Team</a></h5>
          <div class="content" data-slug="panel2" style="">
            <ul class="large-block-grid-5">
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]"><p>Lost Tie</p></a><p>361-288-4278</p></li>
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]"><p>Jason Rylance</p></a><p>361-288-4278</p></li>
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]"><p>Andrew F.</p></a></li>
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]"><p>Eric W.</p></a></li>
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]"><p>Fabian P.</p></a></li>
            </ul>
          </div>
          <div class="content" data-slug="panel1" style="">
            <%= simple_form_for @contact, :url => contacts_path do |f| %>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Name</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :name, :label => false, :placeholder => 'Jane Doe' %>
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Email</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :email, :label => false, :placeholder => 'jane@doeco.com' %>
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Company</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :subject, :label => false, :placeholder => 'Doe Co' %>
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Message</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :message, :as => :text, :label => false, :placeholder => 'I want to build a neat website!' %>
                </div>
              </div>
              <button type="submit" class="radius button">Send</button>
            <% end %>
          </div>
    <!--  
    <div class="section-container tabs" data-section>
        <section class="section">
          <h5 class="title" style="left: 0px;"><a href="#panel1">Contact Our Company</a></h5>
          <div class="content" data-slug="panel1" style="">
            <%= simple_form_for @contact, :url => contacts_path do |f| %>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Name</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :name, :label => false, :placeholder => 'Jane Doe' %>
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Email</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :email, :label => false, :placeholder => 'jane@doeco.com' %>
                </div>
              </div>
              <div class="row collapse">
                <div class="large-2 columns">
                  <label class="inline">Company</label>
                </div>
                <div class="large-10 columns">
                  <%= f.input :subject, :label => false, :placeholder => 'Doe Co' %>
                </div>
              </div>
              <label>Message</label>
              <%= f.input :message, :as => :text, :label => false, :placeholder => 'I want to build a neat website!' %>
              <button type="submit" class="radius button">Send</button>
            <% end %>
          </div>
        </section>
        <section class="section">
          <h5 class="title" style="left: 199px;"><a href="#panel2">Specific Person</a></h5>
          <div class="content" data-slug="panel2" style="">
            <ul class="large-block-grid-5">
              <li><a href="mailto:contact@losttie.com"><img src="http://placehold.it/200x200&amp;text=[person]">Jason Rylance</a><p>361-288-4278</p></li>
              <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Andrew F.</a></li>
              <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Eric W.</a></li>
              <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Fabian P.</a></li>
            </ul>
          </div>
        </section>
    </div>
    </div>

    <div class="large-3 columns">
      <h5>Phone or Email</h5>
      <p>
        361-288-4278<br>
        <a href="mailto:contact@losttie.com">contact@losttie.com</a>
      </p>
    </div>-->
</div>


