<div class="row">
  <div class="12 columns text-center">
      <h1>Getting Online</h1>
  </div>
  <div class="large-6 columns">
    <%= image_tag "dannysincometax.png", :alt=> "Danny's Income Tax" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">Danny's Income Tax Service had been a successful tax preperation business for over a decade, but never made a committment to a professionally designed website.</h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">In the tax season following the launch of the website, revenues were up over 17% from the previous year.  </h5>
    <h5 class="subheader">In addition to having a more apparent presence when new clients are searching online for tax preparation services, Danny is looking to market his IRS resolution services nation-wide with a future website expansion.</h5>
  </div>

</div>
<hr>

<div class="row">
  <div class="12 columns text-center">
      <h1>Communicating With Returning Guests</h1>
  </div>
  <div class="large-6 columns">
    <h3 class="show-for-small">Background</h3>
    <h4 class="hide-for-small">Background</h4>
    <h5 class="subheader">The Bleu Bistro aquired a new lead chef and was looking to communicate their new menu to their previous guests.</h5>
    <h3 class="show-for-small">Results</h3>
    <h4 class="hide-for-small">Results</h4>
    <h5 class="subheader">With an attractive layout that matched the ambiance of the restaurant itself, the Bleu Bistro was able to display its new menu with detailed pictures of all of their dishes.</h5>
    <h5 class="subheader">The management is also able to update their website to communicate changes and events using an interface that is as simple as checking your email.</h5>
    <h5 class="subheader"></h5>
  </div>

  <div class="large-6 columns">
    <%= image_tag "bleubistro.png", :alt=> "Bleu Bistro" %><br>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "angelwood.png", :alt=> "AngelWood of South Texas" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Is your business failing to make money from its website?</h3>
    <h4 class="hide-for-small">Is your business failing to make money from its website?</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <h3 class="show-for-small">We offer web development services that make your business better.</h3>
    <h4 class="hide-for-small">We offer web development services that make your business better.</h4>
    <h5 class="subheader">An effective website is one that converts a passer-by into a buyer.  By understanding the science behind someone viewing a website, we can create a customized design that will appeal to your type of client - helping turn them into a customer.</h5>
  </div>

  <div class="large-6 columns">
    <%= image_tag "spsc.png", :alt=> "St. Paul School of Catechism" %><br>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "cleandesign.png", :alt=> "Clean Design" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">We even do redesigns</h3>
    <h4 class="hide-for-small">We even do redesigns</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
  </div>

</div>
