<div class="row">
    <div class="12 columns text-center">
        <h1>Previous <span>Projects</span></h1>
    </div>
</div>
<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "dannysincometax.png", :alt=> "Danny's Income Tax" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Is your business failing to make money from its website?</h3>
    <h4 class="hide-for-small">Is your business failing to make money from its website?</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <h3 class="show-for-small">We offer web development services that make your business better.</h3>
    <h4 class="hide-for-small">We offer web development services that make your business better.</h4>
    <h5 class="subheader">An effective website is one that converts a passer-by into a buyer.  By understanding the science behind someone viewing a website, we can create a customized design that will appeal to your type of client - helping turn them into a customer.</h5>
  </div>

  <div class="large-6 columns">
    <%= image_tag "bleubistro.png", :alt=> "Bleu Bistro" %><br>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "angelwood.png", :alt=> "AngelWood of South Texas" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">Is your business failing to make money from its website?</h3>
    <h4 class="hide-for-small">Is your business failing to make money from its website?</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <h3 class="show-for-small">We offer web development services that make your business better.</h3>
    <h4 class="hide-for-small">We offer web development services that make your business better.</h4>
    <h5 class="subheader">An effective website is one that converts a passer-by into a buyer.  By understanding the science behind someone viewing a website, we can create a customized design that will appeal to your type of client - helping turn them into a customer.</h5>
  </div>

  <div class="large-6 columns">
    <%= image_tag "spsc.png", :alt=> "St. Paul School of Catechism" %><br>
  </div>

</div>
<hr>

<div class="row">
 
  <div class="large-6 columns">
    <%= image_tag "cleandesign.png", :alt=> "Clean Design" %><br>
  </div>

  <div class="large-6 columns">
    <h3 class="show-for-small">We even do redesigns</h3>
    <h4 class="hide-for-small">We even do redesigns</h4>
    <h5 class="subheader">The goal of a website is to increase the money your business earns.  Just like an advertisement campaign, a website should have a relatively predictable return on investment.</h5>
  </div>

</div>
